# Ignore Mac system files
.DS_store
.idea/

# Ignore files related to API keys
.venv

# Ignore all pytest_cache directories
**/.pytest_cache

# Ignore session files
*.session

# Ignore __pychache__
/src/__pychache__

# Ignore .env file
/config/.env

# Ignore alembic
/alembic/
alembic.ini

# Ignore temp.py for testing
/temp.py

# Ignore vscode config
.vscode/launch.json
